body{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Lato, sans-serif;
}
main{
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background-color: #4D4F77;
    color: white;
    float: left;
}
input:focus,
select:focus,
button:focus{
    outline: none;
}
.container{
    display: flex;
    height: 100%;
    width: 100%;
}
.leftCol{
    display: flex;
    flex-flow: column;
    padding: 10px;
    height: calc(100vh - 20px);
    width: calc(40% - 20px);
    max-width: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.rightCol {
    display: flex;
    flex-flow: column;
    padding: 10px;
    border-left: 2px solid black;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
}
.listHeader{
    width: calc(100% - 4px);
    border: 2px solid black;
    margin: 0 0 10px 0;
}
.listHeader h2{
    padding: 0 10px 0 10px;
}
.itemList{
    padding: 0 0 10px 0;
    height: calc(100% - 20px);
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.result{
    display: flex;
    flex-flow: column;
    height: 950px;
    width: 100%;
    text-align: center;
}
.surveyDiv{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    height: auto;
    width: calc(100% - 22px);
    border: 1px solid black;
    padding: 0 10px 0 10px;
    margin: 0 0 5px 0;
}
.surveyColLeft{
    padding: 10px 0 0 0;
    float: left;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: auto;
}
.surveyColMid{
    padding: 10px 0 0 0;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: auto;
}
.surveyColRight{
    padding: 10px 0 10px 0;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: auto;
}
.surveyColLeft select{
    color: white;
    width: 150px;
    background-color: #242431;
    border: none;
}
.surveyColMid input{
    width: 100px;
    color: white;
    background-color: #242431;
    border: none;
}
.surveyColRight button{
    height: 50px;
    width: 50px;
    font-size: 2em;
    background-color: #242431;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.surveyColRight button:after {
    position: absolute;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.surveyColRight button:hover {
    background-color: #383847;
}
.surveyColRight button:active {
    background-color: #383847;
    top: 2px;
}
.surveyColRight button:before {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 3;
}
.itemDiv{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: auto;
    width: calc(100% - 20px - 2px);
    border: 1px solid black;
    padding: 0 10px 0 10px;
    margin: 0 0 5px 0;
}
.itemColLeft{
    float: left;
    flex: 2;
    height: 100%;
}
.itemColMid{
    float: left;
    flex: 2;
    height: 100%;
}
.itemColRight{
    float: left;
    flex: 1;
    height: 100%;
}
.itemTitle{
}
.itemDetails{
}
.itemColRight button{
    margin: 10px 0 10px 0;
    height: 50px;
    width: 50px;
    font-size: 2em;
    background-color: #242431;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.personalSurvey{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: calc(100% - 4px);
    border: 2px solid black;
}
.personalColLeft{
    padding: 10px;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: auto;
}
.personalColMid{
    padding: 10px;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: auto;
}
.personalColRight{
    padding: 10px;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: auto;
}
.personalColMid > label:not(:first-of-type) {
    margin: 5px 0 0 0;
}
.personalColLeft input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}
.personalColLeft input[type="radio"]{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid gray;
    outline: none;
}
.personalColLeft input[type="radio"]::before {
    display: block;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: white;
    font-size: 1.2em;
    transform: translate(3px, 3px) scale(0);
    transform-origin: center;
    transition: all 0.3s ease-in;
}
.personalColLeft input[type="radio"]:checked::before {
    transform: translate(3px, 3px) scale(1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}
.personalColMid input,
.personalColMid select{
    width: 168px;
    background-color: #242431;
    border: none;
    color: white;
}
.personalColMid input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.personalDiv{
    width: 100%;
    background-color: #242431;
    color: white;
    margin: 10px 0 10px 0;
}
.personalKcal{
    font-size: 3em;
}
.result{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.personalBtn,
.showResult,
.resetBtn{
    font-size: 2em;
    background-color: #242431;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.personalBtn:after,
.itemColRight button:after,
.showResult:after,
.resetBtn:after{
    position: absolute;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.personalBtn:hover,
.itemColRight button:hover,
.showResult:hover,
.resetBtn:hover{
    background-color: #383847;
}
.personalBtn:active,
.itemColRight button:active,
.showResult:active,
.resetBtn:active{
    background-color: #383847;
    top: 2px;
}
.personalBtn:before,
.itemColRight button:before,
.showResult:before,
.resetBtn:before{
    position: absolute;
    left: 0;
    top: 0;
    line-height: 3;
}
.dispKcal{
    margin: 0 0 10px 0;
    width: 100%;
    background-color: #242431;
}
.productsSetKcal,
.personalKcal{
    font-size: 1.5em;
}
.verdict{
    font-size: 1em !important;
}
.dispNutrients{
    margin: 0 0 10px 0;
    width: 100%;
    background-color: #242431;
}
/* scrollbar dla Firefox */
.itemList{
    scrollbar-width: thin;
    scrollbar-color: #242431 white;
}
/* scrollbar dla Chrome/Edge/Safari */
.itemList::-webkit-scrollbar {
    width: 8px;
}
.itemList::-webkit-scrollbar-track {
    background: #242431;
}
.itemList::-webkit-scrollbar-thumb {
    background-color: white;
}
@media only screen
    and (min-width: 375px)
    and (max-width: 813px)
    and (orientation: portrait){
    .listHeader h2{
        font-size: 1em;
    }
    .leftCol{
        min-width: 168px;
    }
    .itemDiv{
        font-size: 0.8em;
    }
    .personalSurvey{
        font-size: 0.8em;
    }
    .surveyColLeft{
        padding: 5px 0 0 0;
    }
    .surveyColMid{
        padding: 5px 0 0 0;
    }
    .surveyColRight{
        padding: 5px 0 5px 0;
    }
    .surveyColLeft select{
        margin: 5px;
        max-width: 100px;
        color: white;
        background-color: #242431;
        border: none;
    }
    .surveyColMid input{
        margin: 5px;
        color: white;
        background-color: #242431;
        border: none;
    }
    .surveyColRight button{
        margin: 5px;
        height: 25px;
        width: 25px;
        font-size: 1em;
        border-radius: 5px;
    }
    .itemColRight button{
        margin: 5px;
        height: 25px;
        width: 25px;
        font-size: 1em;
        border-radius: 5px;
    }
    .personalBtn{
        font-size: 1em;
    }
    .showResult,
    .resetBtn {
        font-size: 1em;
    }
    .productsSetKcal,
    .personalKcal{
        font-size: 1.5em;
    }
}