/* Ogólne*/
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Lato, sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #5a5e74;
    color: white;
    float: left;
}
.mainHeader{
    display: flex;
    flex-direction: column;
    height: 110px;
    width: 100%;
    background-color: #242431;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: left;
}
.mainHeader h1{
    font-size: 4em;
    margin: 20px 0 20px 0
}
.appChoice{
    font-size: 2em;
    justify-content: center;
    align-items: center;
    float: left;
    height: calc(100vh - 110px);
    width: 100%;
    display: flex;
    flex-direction: row;
}
.calc{
    border-right: 1px solid black;
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    transition: font-size 1s;
}
.dish{
    border-left: 1px solid black;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: font-size 1s;
}
.calc:hover, .dish:hover{
    cursor: pointer;
    transition: font-size 0.7s;
}
.calc div,
.dish div{
    transition: transform 0.7s ease-out;
}
.calc:hover div,
.dish:hover div{
    transform: scale(1.25);
    transition: transform 0.7s;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
/* Wiadomość powitalna */
.maskDiv{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}
.welcomeDiv{
    width: 500px;
    height: 220px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #242431;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.welcomeTitle{
    color: white;
    font-size: 2em;
}
.welcomeMessage{
    color: white;
    font-size: 1em;
}
.closeBtn{
    height: 50px;
    width: 100px;
    font-size: 1em;
    background-color: #4D4F77;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.closeBtn:after {
    position: absolute;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.closeBtn:hover {
    background-color: #383847;
}
.closeBtn:active {
    background-color: #383847;
    top: 2px;
}
.closeBtn:before {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 3;
}
.closeBtn:focus{
    outline: none;
}
/* media queries dla mobile*/
@media only screen
and (min-width: 375px)
and (max-width: 813px)
and (orientation: portrait){
    .mainHeader h1{
        font-size: 3em;
    }
    .appChoice{
        font-size: 1em;
    }
}