body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
main{
    display: flex;
    flex-direction: column;
    height: 950px;
    width: 100%;
    background-color: #5a5e74;
    color: white;
    float: left;
}
.mainHeader{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-color: #242431;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: left;
}
.mainHeader h1{
    font-size: 5em;
}
.appChoice{
    font-size: 2em;
    justify-content: center;
    align-items: center;
    float: left;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.calc{
    border-right: 1px solid black;
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    transition: font-size 1s;
}
.dish{
    border-left: 1px solid black;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: font-size 1s;
}
.calc:hover, .dish:hover{
    cursor: pointer;
    transition: font-size 0.7s;
}
.calc div,
.dish div{
    transition: transform 0.7s ease-out;
}
.calc:hover div,
.dish:hover div{
    transform: scale(1.5);
    transition: transform 0.7s;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 1000px){
    main{
        height: 700px;
    }
    .appChoice{
        font-size: 1.5em;
    }
}